.registerscreen{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    background: url("../../public/assets/bgcars3\ \(1\).jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.register-form{
    width:25vw;
    background-color: white;
    height:70%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding: 0px 30px;
}
.form-control{
    margin: 10px 20px;
}
.register-form input::placeholder{
    color:rgb(161, 159, 159);
}
.register-title{
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color:navy;
}

.register-btn{
    background-color:navy;
    color:white;
    border:1px solid navy;
    margin-top:20px;
    padding: 3px 30px;
    border-radius:5px;
    cursor: pointer;
    
}
.register-btn:hover{
    transform: scale(0.95);
}